<!doctype html>
<html lang="ja" data-ng-app="cardSearchApp">
<head>
<meta charset="utf-8">
<title>カード｜「スペルカードストライク」～東方Project二次創作トレーディングカードゲーム</title>
<link rel="shortcut icon" href="../util/img/favicon.ico" >
<link href="../util/css/style.css" rel="stylesheet" media="screen,tv">
<script src="../util/js/jquery-1.10.2.min.js"></script>
<script src="../util/js/common.js"></script>
<script src="../util/js/lightbox.min.js"></script>
<!--[if lt IE 9]>
<script src="../util/js/html5shiv.min.js"></script>
<![endif]-->
</head>
<body data-ng-controller="CardSearchController">
<header id="top">
  <div class="inner">
    <p class="subTitle">東方Project二次創作トレーディングカードゲーム</p>
    <div class="siteLogo"><a href="../"><img src="../util/img/siteLogo.png" alt="スペルカードストライク"></a></div>
    <div class="social"> <span>SHARE</span>
      <ul>
        <li><a href="http://twitter.com/intent/tweet?url=http://scstcg.net/&amp;text=魅せろ必勝の陣形！決めろ必殺の一撃！対戦型TCG「スペルカードストライク」&amp;hashtags=スペスト"
      onClick="window.open(encodeURI(decodeURI(this.href)),
      'tweetwindow',
      'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1'
      ); return false;"><img src="../util/img/btnTwitter.png" alt="Twitterでシェア"></a></li>
        <li><a href="http://www.facebook.com/sharer.php?u=http://scstcg.net"
onClick="window.open(encodeURI(decodeURI(this.href)),
      'sharewindow',
      'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!'
      ); return false;"><img src="../util/img/btnFacebook.png" alt="Facebookでシェア"></a></li>
        <li><a href="https://plus.google.com/share?url=http://scstcg.net" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"> <img src="../util/img/btnGooglePlus.png" alt="Google+でシェア"></a></li>
      </ul>
    </div>
    <nav id="globalNav">
      <ul>
        <li id="nav1"><a href="../about">はじめての方へ</a></li>
        <li id="nav2"><a href="../product">プロダクト情報</a></li>
        <li id="nav3"><a href="../event">イベント情報</a></li>
        <li id="nav4" class="current">カード</li>
        <li id="nav5"><a href="../rule">ルールQ&amp;A</a></li>
        <li id="nav6"><a href="../online">オンライン</a></li>
      </ul>
    </nav>
  </div>
</header>
<div id="main">
  <div class="inner">
    <h1 class="pageTitle">カード</h1>
    <div id="card" class="content">
      <article class="box" id="booster">
        <h2 class="imgH"><img src="../util/img/card/h2Result.png" alt="検索結果"></h2>
        <section data-ng-if="selected_card">
          <figure><a href="{{selected_card.sample_large}}" data-lightbox="card"><img data-ng-src="{{selected_card.sample_small}}" alt="{{selected_card.card_name}}"/></a>
            <figcaption class="illustrator">イラストレーター：{{selected_card.illustrator}}</figcaption>
          </figure>
          <div class="desc float">
            <span data-ng-if="find_card_index(filtered, selected_card)-1>=0"><a href="#" data-ng-click="cardSelected(filtered[find_card_index(filtered,selected_card)-1])">前のカード</a></span>
            <span data-ng-if="find_card_index(filtered, selected_card)+1<filtered.length"><a href="#" data-ng-click="cardSelected(filtered[find_card_index(filtered,selected_card)+1])">次のカード</a></span>
            <h3>{{selected_card.card_name}}</h3>
            <div class="status">
              <div class="miniMap" data-ng-if="selected_card.range_img"><img data-ng-src="{{selected_card.range_img}}" alt=""/></div>
              <div class="rank" data-ng-if="selected_card.rank">Rank:{{selected_card.rank}}</div>
              <div class="atk" data-ng-if="selected_card.pow">{{selected_card.pow}}</div>
              <div class="def" data-ng-if="selected_card.def">{{selected_card.def}}</div>
            </div>
            <table class="cardDetail">
              <tr>
                <th>種別</th>
                <td>{{selected_card.card_type}}</td>
                <th>レアリティ</th>
                <td>{{CONSTANT.RARITY_MAP[selected_card.rarity]}}</td>
              </tr>
              <tr>
                <th>勢力</th>
                <td>{{selected_card.org}}</td>
                <th>キャラ名</th>
                <td>{{selected_card.striker_name}}</td>
              </tr>
              <tr>
                <th>属性</th>
                <td><img data-ng-repeat="property in selected_card.property track by $index" data-ng-src="{{CONSTANT.ICON[property]}}" alt="{{property}}"/></td>
                <th>コスト</th>
                <td><img data-ng-repeat="cost in selected_card.cost track by $index" data-ng-src="{{CONSTANT.ICON[cost]}}" alt="{{cost}}"/></td>
              </tr>
              <tr>
                <th>タイプ</th>
                <td>{{selected_card.spell_type}}</td>
                <th>種族</th>
                <td><span data-ng-repeat="race in selected_card.race">{{race}}<span data-ng-if="!$last">／</span></span></td>
              </tr>
              <tr>
                <th>収録</th>
                <td>{{selected_card.expansion}}</td>
                <th>ナンバー</th>
                <td>{{selected_card.no}}</td>
              </tr>
              <tr data-ng-if="selected_card.skill_a.length > 0">
                <th colspan="4">アビリティ</th>
              </tr>
              <tr data-ng-repeat="skill_a in selected_card.skill_a">
                <td colspan="4">
                  <div class="status">
                    <div class="miniMap" data-ng-if="skill_a.range"><img src="{{skill_a.range_img}}" alt=""/><br>
                      {{skill_a.target_text}}</div>
                    <div class="type" data-ng-if="skill_a.timing"><span data-ng-if="skill_a.timing.indexOf('A')>=0"><img src="../util/img/card/iconAct.png" alt="アクション"/></span><span data-ng-if="skill_a.timing.indexOf('R')>=0"><img src="../util/img/card/iconReact.png" alt="リアクション"/></span><span data-ng-if="skill_a.duration=='T'"><img src="../util/img/card/iconTurn.png" alt="ターン持続"/></span><span data-ng-if="skill_a.duration=='C'"><img src="../util/img/card/iconChain.png" alt="チェイン持続"/></span><span data-ng-if="skill_a.duration=='E'"><img src="../util/img/card/iconEquip.png" alt="装備持続"/></span></div>
                    <div class="cost" data-ng-if="skill_a.self_cost||skill_a.costs||skill_a.variable_cost"><img src="../util/img/card/iconCost.png" alt="コスト："/> <span class="spellCost" data-ng-if="skill_a.self_cost"><img data-ng-src="{{CONSTANT.ICON[skill_a.self_cost]}}"/></span><img data-ng-repeat="cost in skill_a.costs track by $index" data-ng-src="{{CONSTANT.ICON[cost]}}" alt="{{cost}}"/><img data-ng-repeat="cost in skill_a.variable_cost track by $index" data-ng-src="{{CONSTANT.ICON[cost]}}" alt="{{cost}}"/><span data-ng-if="skill_a.variable_cost"><img src="../util/img/card/iconVariable.png" alt="×ｎ"></span></div>
                  </div>
                <p data-ng-bind-html="skill_a.text"></p>
              </tr>
              <tr data-ng-if="selected_card.skill_s.length > 0">
                <th colspan="4">スペルカード</th>
              </tr>
              <tr data-ng-repeat="skill_s in selected_card.skill_s">
                <td colspan="4">
                  <div class="status">
                    <div class="miniMap" data-ng-if="skill_s.range"><img src="{{skill_s.range_img}}" alt=""/><br>
                      {{skill_s.target_text}}</div>
                    <div class="type" data-ng-if="skill_s.timing"><span data-ng-if="skill_s.timing.indexOf('A')>=0"><img src="../util/img/card/iconAct.png" alt="アクション"/></span><span data-ng-if="skill_s.timing.indexOf('R')>=0"><img src="../util/img/card/iconReact.png" alt="リアクション"/></span><span data-ng-if="skill_s.duration=='T'"><img src="../util/img/card/iconTurn.png" alt="ターン持続"/></span><span data-ng-if="skill_s.duration=='C'"><img src="../util/img/card/iconChain.png" alt="チェイン持続"/></span><span data-ng-if="skill_s.duration=='E'"><img src="../util/img/card/iconEquip.png" alt="装備持続"/></span></div>
                    <div class="cost" data-ng-if="skill_s.self_cost||skill_s.costs||skill_s.variable_cost"><img src="../util/img/card/iconCost.png" alt="コスト："/> <span class="spellCost" data-ng-if="skill_s.self_cost"><img data-ng-src="{{CONSTANT.ICON[skill_s.self_cost]}}"/></span><img data-ng-repeat="cost in skill_s.costs track by $index" data-ng-src="{{CONSTANT.ICON[cost]}}" alt="{{cost}}"/><img data-ng-repeat="cost in skill_s.variable_cost track by $index" data-ng-src="{{CONSTANT.ICON[cost]}}" alt="{{cost}}"/><span data-ng-if="skill_s.variable_cost"><img src="../util/img/card/iconVariable.png" alt="×ｎ"></span></div>
                  </div>
                  <p data-ng-bind-html="skill_s.text"></p>
                  <table class="cardDetail">
                  <tr data-ng-if="selected_card.skill_e.length > 0">
                    <th colspan="4">アビリティ</th>
                  </tr>
                  <tr data-ng-repeat="skill_e in selected_card.skill_e">
                    <td>
                      <div class="status">
                        <div class="miniMap" data-ng-if="skill_e.range"><img src="{{skill_e.range_img}}" alt=""/><br>
                          {{skill_e.target_text}}</div>
                        <div class="type" data-ng-if="skill_e.timing"><span data-ng-if="skill_e.timing.indexOf('A')>=0"><img src="../util/img/card/iconAct.png" alt="アクション"/></span><span data-ng-if="skill_e.timing.indexOf('R')>=0"><img src="../util/img/card/iconReact.png" alt="リアクション"/></span><span data-ng-if="skill_e.duration=='T'"><img src="../util/img/card/iconTurn.png" alt="ターン持続"/></span><span data-ng-if="skill_e.duration=='C'"><img src="../util/img/card/iconChain.png" alt="チェイン持続"/></span></div>
                        <div class="cost" data-ng-if="skill_e.self_cost||skill_e.costs||skill_e.variable_cost"><img src="../util/img/card/iconCost.png" alt="コスト："/> <span class="spellCost" data-ng-if="skill_e.self_cost"><img data-ng-src="{{CONSTANT.ICON[skill_e.self_cost]}}"/></span><img data-ng-repeat="cost in skill_e.costs track by $index" data-ng-src="{{CONSTANT.ICON[cost]}}" alt="{{cost}}"/><img data-ng-repeat="cost in skill_e.variable_cost track by $index" data-ng-src="{{CONSTANT.ICON[cost]}}" alt="{{cost}}"/><span data-ng-if="skill_e.variable_cost"><img src="../util/img/card/iconVariable.png" alt="×ｎ"></span></div>
                      </div>
                      <p data-ng-bind-html="skill_e.text"></p>
                    </td>
                  </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
          <div class="desc errata" id="errata" data-ng-if="selected_card.errata!=undefined">
            <br><h3>エラッタ情報</h3>
            <p data-ng-bind-html="selected_card.errata"></p>
          </div>
          <div class="desc q_and_a" id="q_and_a" data-ng-if="selected_card.qa[0]!=undefined">
            <br><h3>Q&A</h3>
            <dl data-ng-repeat="qa in selected_card.qa">
              <dt class="question">Q</dt><dd class="question" data-ng-bind-html="qa.q"></dd>
              <dt class="answer">A</dt><dd class="answer" data-ng-bind-html="qa.a"></dd>
            </dl>
          </div>
        </section>
        <section>
          <table class="cardList">
            <tr>
              <th class="num">No.</th>
              <th class="name">カード名</th>
              <th class="rank">ランク</th>
              <th class="element">属性</th>
              <th class="atk"><img src="../util/img/card/iconAtk.png" alt="攻撃力"></th>
              <th class="def"><img src="../util/img/card/iconDef.png" alt="防御力"></th>
              <th class="race">種族</th>
              <th class="group">勢力</th>
            </tr>
            <tr data-ng-repeat="card in filtered = (cardCatalog | filter:keyword | filter:query_partial:false | filter:query_perfect:true | property:selected_properties | rank:selected_ranks | cost:selected_costs | summon_cost:selected_summon_costs)">
              <td class="num">{{card.no}}</td>
              <td class="name"><a href="#" data-ng-click="cardSelected(card)">{{card.striker_name}}<br data-ng-if="card.striker_name">{{card.card_name}}</a></td>
              <td class="rank">{{card.rank}}</td>
              <td class="element">
                  <img data-ng-repeat="property in card.property track by $index" data-ng-src="{{CONSTANT.ICON[property]}}" alt="{{property}}"/>
              </td>
              <td class="atk">{{card.pow}}</td>
              <td class="def">{{card.def}}</td>
              <td class="race"><span data-ng-repeat="race in card.race">{{race}}<span data-ng-if="!$last">／</span></span></td>
              <td class="group">{{card.org}}</td>
            </tr>
          </table>
        </section>
      </article>
    </div>
    <nav id="sub">
      <form action="#">
        <div class="box">
          <h2 class="imgH"><img src="../util/img/card/h2Card.png" alt="カード検索"></h2>
          <dl id="searchBox">
            <dt class="open">キーワード</dt>
            <dd>
              <input type="text" class="keyword" placeholder="カード名、単語など" data-ng-model="keyword">
            </dd>
            <dt class="open">カード種別</dt>
            <dd>
              <select class="kind" data-ng-init="query_perfect.card_type=CONSTANT.CARD_TYPE[0].value" data-ng-model="query_perfect.card_type" data-ng-options="it.value as it.name for it in CONSTANT.CARD_TYPE"></select>
            </dd>
            <dt class="open">属性</dt>
            <dd>
            <span data-ng-repeat="it in CONSTANT.PROPERTY">
              <input type="checkbox" checklist-model="selected_properties" checklist-value="it" class="toggle {{it.value}}" value="{{it.name}}" checked=false name="property" id="property_{{$index}}">
              <label for="property_{{$index}}"> {{it.name}}</label>
            </span>
            </dd>
            <dt class="open">ランク</dt>
            <dd>
            <span data-ng-repeat="it in CONSTANT.RANK">
              <input type="checkbox" checklist-model="selected_ranks" checklist-value="it">
              <label for="rank_{{selected_ranks}}"> {{it}} </label>
            </span>
            </dd>
            <dt class="open">種族</dt>
            <dd>
              <select class="race" data-ng-init="query_partial.race=CONSTANT.RACE[0].value" data-ng-model="query_partial.race" data-ng-options="it.value as it.name for it in CONSTANT.RACE"></select>
            </dd>
            <dt class="open">スペルタイプ</dt>
            <dd>
              <select class="spell_type" data-ng-init="query_partial.race=CONSTANT.SPELL_TYPE[0].value" data-ng-model="query_partial.spell_type" data-ng-options="it.value as it.name for it in CONSTANT.SPELL_TYPE"></select>
            </dd>
            <dt class="open">勢力</dt>
            <dd>
              <select class="group" data-ng-init="query_perfect.org=CONSTANT.ORG[0].value" data-ng-model="query_perfect.org" data-ng-options="it.value as it.name for it in CONSTANT.ORG"></select>
            </dd>
            <dt class="open">召喚コスト</dt>
            <dd>
              <select class="summon_cost" data-ng-model="selected_summon_costs" data-ng-options="it.value as it.name for it in CONSTANT.SUMMON_COST"></select>
            </dd>
            <dt class="open">能力コスト</dt>
            <dd>
            <span data-ng-repeat="it in CONSTANT.COST">
              <input type="checkbox" checklist-model="selected_costs" checklist-value="it" class="toggle {{it.value}}" value="{{it.name}}" checked=false name="cost" id="cost_{{$index}}">
              <label for="cost_{{$index}}"> {{it.name}}</label>
            </span>
            </dd>
<!--
            <dt class="open">レアリティ</dt>
            <dd>
              <select class="rarity" data-ng-init="query_perfect.rarity=CONSTANT.RARITY[0].value" data-ng-model="query_perfect.rarity" data-ng-options="it.value as it.name for it in CONSTANT.RARITY"></select>
            </dd>
-->
          </dl>
        </div>
      </form>
    </nav>
  </div>
</div>
<footer>
  <p id="copyright">Copyright &copy; <a href="http://aquastyle.org" target="_blank">AQUA STYLE</a>.</p>
</footer>
<div class="toTop"><a href="#top"><img src="../util/img/toTop.png" alt="TOPへ戻る"/></a></div>
</body>
<script src="../util/js/angular.min.js"></script>
<script src="../util/js/underscore-min.js"></script>
<script src="../util/js/checklist-model.js"></script>
<script src="../util/js/cardSearchApp.js"></script>
<script src="../util/js/cardSearchFilter.js"></script>
<script src="../util/js/cardSearchController.js"></script>
</html>
