/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
@import url("lightbox.css");

/* Variable */
$siteW: 1000px;
$fontBase: #333;
$fontRed: #C00;
$fontLightRed: #C66;
$grayBorder: #CCC;
$pinkBox: #C12246;

$nav1Bg: 0;
$nav2Bg: -120px;
$nav3Bg: -240px;
$nav4Bg: -610px;
$nav5Bg: -730px;
$nav6Bg: -850px;
$navNormal: 0;
$navHover: -70px;
$navActive: -140px;
$navDisable: -210px;

@mixin linkWhite {
	color: #FFF;
	a:link,a:visited {
		color: #FFF;
	}
	a:hover,a:active {
		color: $fontLightRed;
	}
}
/**/

/* Common Class */
.commonH2 {
	padding: 9px 10px 5px;
	color: #FFF;
	background: url(../img/commonH2.png) left center no-repeat;
	@include box-shadow(0 0 4px rgba(0,0,0,1));
	@include clearfix;
	h2 {
		float: left;
		font-size: 30px;
		font-size: 3rem;
		font-weight: bold;
		line-height: 1.2;
		@include text-shadow(rgba(0,0,0,1) 0 0 4px);
	}
}
.imgH {
	img {
		@include box-shadow(0 0 4px rgba(0,0,0,1));
	}
}
.clearfix {
	@include clearfix;
}
.clear {
	clear: both;
}
.box {
	background: #FFF;
	margin-bottom: 20px;
	@include box-shadow(0 0 5px rgba(0,0,0,1));
	.inner {
		padding: 10px;
		> *:last-child {
			margin-bottom: 0;
		}
	}
}
div.btn {
	margin-top: 20px;
	text-align: center;
}
.new {
	margin-left: 5px;
	padding: 2px 5px 3px;
	display: inline-block;
	color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.1em;
	background: $fontRed;
}
/**/

html {
	font-size: 62.5%;
	background: url(../img/footerBack.png);
}
body{
    margin: 0;
    padding: 0;
	color: $fontBase;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
    font-size: 12px;
	font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.6;
	overflow-y: scroll;
    background: #000 url("../img/bodyBack.jpg") center top no-repeat;
}
a:link,a:visited {
	color: $fontBase;
}
a:hover,a:active {
	color: $fontRed;
}
img,iframe {
	vertical-align: middle;
}

header,div#main {
	> .inner {
		margin: 0 auto;
		position: relative;
		width: $siteW;
	}
}
header {
	margin-bottom: 32px;
	color: #FFF;
	height: 128px;
	background: url(../img/headerBack.png) center bottom repeat-x;
	.subTitle {
		padding-top: 15px;
		float: left;
		height: 35px;
		@include text-shadow(rgba(0,0,0,1) 0 0 2px,rgba(0,0,0,1) 0 0 4px);
	}
	.siteLogo {
		position: absolute;
		left: 50%;
		top: 10px;
		z-index: 1000;
		a {
			margin-left: - image-width("../img/siteLogo.png") / 2;
			display: block;
			width: image-width("../img/siteLogo.png");
			height: image-height("../img/siteLogo.png");
			background: url("../img/siteLogoBack.png") center center no-repeat;
		}
	}
	.social {
		margin-top: 10px;
		padding: 4px;
		float: right;
		line-height: 1;
		background: #FFF;
		background: rgba(255,255,255,0.5);
		vertical-align: middle;
		span {
			padding: 1px 5px 0 5px;
			display: inline-block;
			vertical-align: middle;
			color: $fontBase;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 1.4rem;
			font-weight: bold;
		}
		ul,li {
			display: inline;
		}
	}
}
#globalNav {
	clear: both;
	ul {
		padding: 0 15px;
		height: 70px;
		background: url(../img/gnavBack.png) center center no-repeat;
		@include clearfix;
		li {
			float: left;
			text-indent: -9999px;
			width: 120px;
			height: 100%;
			overflow: hidden;
			background-image: url(../img/globalNav.png);
			a {
				display: block;
				width: 100%;
				height: 100%;
				overflow: hidden;
				background-image: url(../img/globalNav.png);
			}
		}
		#nav1 {
			background-position: $nav1Bg $navDisable;
			&.current {
				background-position: $nav1Bg $navActive;
			}
			a {
				background-position: $nav1Bg $navNormal;
				&:hover {
					background-position: $nav1Bg $navHover;
				}
				&:active {
					background-position: $nav1Bg $navActive;
				}
			}
		}
		#nav2 {
			background-position: $nav2Bg $navDisable;
			&.current {
				background-position: $nav2Bg $navActive;
			}
			a {
				background-position: $nav2Bg $navNormal;
				&:hover {
					background-position: $nav2Bg $navHover;
				}
				&:active {
					background-position: $nav2Bg $navActive;
				}
			}
		}
		#nav3 {
			margin-right: 250px;
			background-position: $nav3Bg $navDisable;
			&.current {
				background-position: $nav3Bg $navActive;
			}
			a {
				background-position: $nav3Bg $navNormal;
				&:hover {
					background-position: $nav3Bg $navHover;
				}
				&:active {
					background-position: $nav3Bg $navActive;
				}
			}
		}
		#nav4 {
			background-position: $nav4Bg $navDisable;
			&.current {
				background-position: $nav4Bg $navActive;
			}
			a {
				background-position: $nav4Bg $navNormal;
				&:hover {
					background-position: $nav4Bg $navHover;
				}
				&:active {
					background-position: $nav4Bg $navActive;
				}
			}
		}
		#nav5 {
			background-position: $nav5Bg $navDisable;
			&.current {
				background-position: $nav5Bg $navActive;
			}
			a {
				background-position: $nav5Bg $navNormal;
				&:hover {
					background-position: $nav5Bg $navHover;
				}
				&:active {
					background-position: $nav5Bg $navActive;
				}
			}
		}
		#nav6 {
			background-position: $nav6Bg $navDisable;
			&.current {
				background-position: $nav6Bg $navActive;
			}
			a {
				background-position: $nav6Bg $navNormal;
				&:hover {
					background-position: $nav6Bg $navHover;
				}
				&:active {
					background-position: $nav6Bg $navActive;
				}
			}
		}
	}
}
#main {
	position: relative;
	.inner {
		> *:last-child {
			margin-bottom: 0;
		}
	}
	.mainVisual {
		margin-bottom: 20px;
		@include box-shadow(0 0 5px rgba(0,0,0,1));
	}
	h1.pageTitle {
		margin: -7px 0 25px;
		font-size: 36px;
		font-size: 3.6rem;
		color: #FFF;
		line-height: 1;
		@include text-shadow(rgba(0,0,0,1) 0 0 2px,rgba(0,0,0,1) 0 0 4px);
	}
	.content {
		margin-bottom: 40px;
		float: right;
		width: 720px;
		>.box {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		section {
			@include clearfix;
			padding: 20px;
			border-bottom: 1px solid $grayBorder;
			figure {
				float: left;
				width: 240px;
				img {
					width: 100%;
				}
			}
			h3 {
				margin-bottom: 10px;
				padding-left: 5px;
				font-size: 16px;
				font-size: 1.6rem;
				font-weight: bold;
				line-height: 1.4;
				border-left: 2px solid $pinkBox;
			}
			h4 {
				margin-bottom: 5px;
				font-size: 14px;
				font-size: 1.4rem;
				font-weight: bold;
				&:before {
					content: "\025A0";
					color: $pinkBox;
				}
			}
			.desc {
				font-size: 14px;
				font-size: 1.4rem;
				&.float {
					float: right;
					width: 420px;
				}
				dl {
					margin-bottom: 10px;
					dt {
						float: left;
					}
					dd {
						padding-left: 5rem;
					}
				}
			}
		}
	}
	#sub {
		margin-bottom: 40px;
		float: left;
		width: 260px;
		.localNav {
			li {
				a {
					padding: 14px 10px 11px;
					display: block;
					text-decoration: none;
					font-size: 16px;
					font-size: 1.6rem;
					border-bottom: 1px solid $grayBorder;
					background: url(../img/localNav.png) 240px center no-repeat;
					&:hover,&:active {
						background-color: #FF9
					}
				}
				&:last-child a {
					border-bottom: none;
				}
			}
		}
		&.fixed {
			position: fixed;
			top: 20px;
		}
		div.btn {
			margin: 0;
			padding: 10px 0;
		}
	}
}
.pager {
	padding: 20px;
	text-align: center;
	li {
		line-height: 1;
		display: inline-block;
		a,span {
			width: 24px;
			padding: 7px 0;
			display: inline-block;
			text-decoration: none;
			border: 1px solid;
		}
		.prev,.next,.first,.last {
			padding: 7px 10px;
			width: inherit;
		}
		a:link,a:visited {
			border-color: $grayBorder;
			background: #F9F9F9;
		}
		a:hover,a:active {
			border-color: $fontRed;
		}
		.current {
			color: #FFF;
			font-weight: bold;
			background: $pinkBox;
		}
	}
}
footer {
	clear: both;
	@include linkWhite;
	padding: 20px;
	text-align: center;
	background: url(../img/footerBack.png);
}
.toTop {
	position: fixed;
	right: 20px;
	bottom: 20px;
}
div.openable h4:hover {
	cursor: pointer;
}

/* Index */
#topics {
	margin-bottom: 40px;
	float: left;
	width: 680px;
	background: #CCC;
	.inner {
		margin: 10px;
		background: #FFF;
		height: 340px;
		@include border-radius(5px);
	}
	.topicList {
		height: 185px;
		overflow: auto;
		dt {
			font-weight: bold;
		}
		dd {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid $grayBorder;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
ul.shopList {
	@include clearfix;
	>li {
		margin-top: 10px;
		padding: 10px;
		margin-right: 10px;
		vertical-align: top;
	background: #EFEFEF;
	@include border-radius(5px);
		float: left;
		width: 132px;
/*		&:nth-child(4n) {
			margin-right: 0;
		}*/
		.shopName {
			margin-bottom: 5px;
			display: block;
			font-size: 14px;
			font-size: 1.4rem;
			font-weight: bold;
			border-bottom: 1px solid $grayBorder;
		}
		> ul {
			> li {
				margin-right: 10px;
				padding-left: 10px;
				display: inline-block;
				background: url(../img/listSmall.png) left center no-repeat;
			}
		}
	}
}
#twitter {
	margin-bottom: 40px;
	float: right;
	width: 300px;
}

select.archive {
	width: 100%;
	height: 30px;
}

/* Product */
.illustrators {
	margin-top: 20px;
	padding: 20px;
	background: #F6F6F6;
	@include border-radius(5px);
	ul {
		@include clearfix;
		li {
			margin-right: 10px;
			float: left;
			text-align: left;
			width: 120px;
			list-style-type: square;
			list-style-position: inside;
			&:nth-child(5n) {
				margin-right: 0;
			}
			a {
				display: block;
				padding: 2px 0;
				&:hover {
					background-color: #FFC;
				}
			}
		}
	}
}
/**/

/* Card */
#searchBox {
	dt {
		padding: 10px 10px 7px;
		font-weight: bold;
		background: #F9F9F9;
		border-bottom: 1px solid $grayBorder;
		cursor: pointer;
		@include box-shadow(0 0 2px rgba(0,0,0,0.2));
		&:hover,&:active {
			color: $fontRed;
			background-color: #FF9;
		}
	}
	dd {
		padding: 9px;
		border-bottom: 1px solid $grayBorder;
		input[type="text"],select {
			@include border-radius(5px);
		}
		input[type="text"] {
			padding: 0 5px;
			width: 228px;
			height: 28px;
			border: 1px solid $grayBorder;
		}
		select {
			width: 100%;
			height: 30px;
		}
	}
	input[type="checkbox"].toggle {
		display: none;
	}
	input[type="checkbox"].plain + label {background: url(../img/card/togglePlain.png) no-repeat;}
	input[type="checkbox"].normal + label {background: url(../img/card/togglePlain.png) no-repeat;}
	input[type="checkbox"].god + label {background: url(../img/card/toggleGod.png) no-repeat;}
	input[type="checkbox"].evil + label {background: url(../img/card/toggleEvil.png) no-repeat;}
	input[type="checkbox"].ghost + label {background: url(../img/card/toggleGhost.png) no-repeat;}
	input[type="checkbox"].magic + label {background: url(../img/card/toggleMagic.png) no-repeat;}
	input[type="checkbox"].card + label {background: url(../img/card/toggleCard.png) no-repeat;}
	input[type="checkbox"].score + label {background: url(../img/card/toggleScore.png) no-repeat;}
	input[type="checkbox"].toggle + label {
		cursor: pointer;
		background-position: 0 -30px;
		display: inline-block;
		width: 30px;
		height: 30px;
		text-indent: -9999px;
	}
	input[type="checkbox"]:checked.toggle + label {
		background-position: 0 0;
	}
}
#card {
	figure {a{display: block;}}
	.illustrator {
		margin-top: 10px;
		font-size: 10px;
		font-size: 1.0rem;
	}
	.status {
		margin-bottom: 10px;
		vertical-align: middle;
		font-size: 16px;
		font-size: 1.6rem;
		font-weight: bold;
		@include clearfix;
		> div {
			margin-right: 20px;
			float: left;
			&.miniMap {
				font-size: 10px;
				font-size: 1.0rem;
				text-align: center;
			}
			&.rank,&.atk,&.def {
				margin-top: 10px;
				line-height: 30px;
			}
			&.rank {
			}
			&.atk {
				padding-left: 35px;
				background: url(../img/card/iconAtk.png) left center no-repeat;
			}
			&.def {
				padding-left: 35px;
				background: url(../img/card/iconDef.png) left center no-repeat;
			}
			&.type,&.cost,&.timing {
				margin-top: 12px;
				img {
					max-height: 24px;
					vertical-align: middle;
				}
				.spellCost {
					display: inline-block;
					position: relative;
					&:after {
						position: absolute;
						left: 0;
						top: 0;
						content: url(../img/card/costFrame24.png);
					}
				}
			}
		}
	}
	.cardDetail {
		width: 100%;
		border: 1px solid $grayBorder;
		th,td {
			padding: 5px;
			border: 1px solid $grayBorder;
		}
		th {
			font-weight: bold;
			background: #F9F9F9;
		}
		td {
			.status {
				margin-bottom: 5px;
				> div {
				}
			}
			p {
				img {
					max-height: 20px;
				}
			}
		}
	}
	.cardList {
		width: 100%;
		border: 1px solid $grayBorder;
		img {
			max-height: 20px;
		}
		th,td {
			padding: 5px;
			border-bottom: 1px solid $grayBorder;
			&.rank,&.element,&.atk,&.def,&.type {text-align: center;}
		}
		th {
			font-weight: bold;
			background: #F9F9F9;
		}
	}
}
/**/


/* Rule */
div.errata {
	float: left;
}

div.q_and_a {
	float: left;
}

div.q_and_a dt {
	margin-left: 8px;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	width: 24px;
}
dd {
}
dt.question {
	background-color: #FF0000;
}
dd.question {
	font-weight: bold;
}
dt.answer {
	background-color: #0000FF;
}
dd.answer {
	
}
img.errata_detail {
	width: 20px;
	height: 20px;
}
/**/
