﻿@charset "utf-8";
.section {
position: relative;
zoom: 1;
}

.sliders img {
vertical-align: bottom;
}

.sliders * {
margin: 0;
padding: 0;
}

/*--------------
 sliders用
--------------*/
.sliders {
position: relative;
}

.sliders li {
overflow: hidden;
list-style-type: none;
}

.sliders li a img {
border: 0;
}

.slider_pager {
padding: 10px 0;
text-align: center;
}

.slider_pager li {
display: inline-block;
*display: inline!important;
list-style-type: none;
zoom: 1;
}

.slider_pager a {
margin: 0 5px;
display: block;
width: 10px;
height: 10px;
background: url(../img/sliders/pager_off.png) no-repeat left top;
text-decoration: none;
text-indent: -9999px;
outline: none;
}

.slider_pager a:hover,
.slider_pager .current a {
color: red;
text-decoration: none;
background: url(../img/sliders/pager_on.png) no-repeat left top;
}

.prev {
margin-top: -25px;
margin-left: -450px;
width: 50px;
height: 50px;
position: absolute;
top: 50%;
left: 50%;
background: url(../img/sliders/prev_off.png) no-repeat left top;
text-indent: -9999px;
z-index: 50;
cursor: pointer;
}

.prev:hover {
background-image: url(../img/sliders/prev_on.png);
}

.next {
margin-top: -25px;
margin-left: 400px;
width: 50px;
height: 50px;
position: absolute;
top: 50%;
left: 50%;
background: url(../img/sliders/next_off.png) no-repeat left top;
text-indent: -9999px;
z-index: 50;
cursor: pointer;
}

.next:hover {
background-image: url(../img/sliders/next_on.png);
}

