/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
@import url("lightbox.css");
/* line 17, ../../../../../../app/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../app/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../app/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../app/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../app/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../app/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../app/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../app/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../app/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Variable */
/**/
/* Common Class */
/* line 43, ../sass/style.scss */
.commonH2 {
  padding: 9px 10px 5px;
  color: #FFF;
  background: url(../img/commonH2.png) left center no-repeat;
  -webkit-box-shadow: 0 0 4px black;
  -moz-box-shadow: 0 0 4px black;
  box-shadow: 0 0 4px black;
  overflow: hidden;
  *zoom: 1; }
  /* line 49, ../sass/style.scss */
  .commonH2 h2 {
    float: left;
    font-size: 30px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    text-shadow: black 0 0 4px; }

/* line 59, ../sass/style.scss */
.imgH img {
  -webkit-box-shadow: 0 0 4px black;
  -moz-box-shadow: 0 0 4px black;
  box-shadow: 0 0 4px black; }

/* line 63, ../sass/style.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1; }

/* line 66, ../sass/style.scss */
.clear {
  clear: both; }

/* line 69, ../sass/style.scss */
.box {
  background: #FFF;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black; }
  /* line 73, ../sass/style.scss */
  .box .inner {
    padding: 10px; }
    /* line 75, ../sass/style.scss */
    .box .inner > *:last-child {
      margin-bottom: 0; }

/* line 80, ../sass/style.scss */
div.btn {
  margin-top: 20px;
  text-align: center; }

/* line 84, ../sass/style.scss */
.new {
  margin-left: 5px;
  padding: 2px 5px 3px;
  display: inline-block;
  color: #FFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.1em;
  background: #cc0000; }

/**/
/* line 97, ../sass/style.scss */
html {
  font-size: 62.5%;
  background: url(../img/footerBack.png); }

/* line 101, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.6;
  overflow-y: scroll;
  background: black url("../img/bodyBack.jpg") center top no-repeat; }

/* line 113, ../sass/style.scss */
a:link, a:visited {
  color: #333333; }

/* line 116, ../sass/style.scss */
a:hover, a:active {
  color: #cc0000; }

/* line 119, ../sass/style.scss */
img, iframe {
  vertical-align: middle; }

/* line 124, ../sass/style.scss */
header > .inner, div#main > .inner {
  margin: 0 auto;
  position: relative;
  width: 1000px; }

/* line 130, ../sass/style.scss */
header {
  margin-bottom: 32px;
  color: #FFF;
  height: 128px;
  background: url(../img/headerBack.png) center bottom repeat-x; }
  /* line 135, ../sass/style.scss */
  header .subTitle {
    padding-top: 15px;
    float: left;
    height: 35px;
    text-shadow: black 0 0 2px, black 0 0 4px; }
  /* line 141, ../sass/style.scss */
  header .siteLogo {
    position: absolute;
    left: 50%;
    top: 10px;
    z-index: 1000; }
    /* line 146, ../sass/style.scss */
    header .siteLogo a {
      margin-left: -150px;
      display: block;
      width: 300px;
      height: 170px;
      background: url("../img/siteLogoBack.png") center center no-repeat; }
  /* line 154, ../sass/style.scss */
  header .social {
    margin-top: 10px;
    padding: 4px;
    float: right;
    line-height: 1;
    background: #FFF;
    background: rgba(255, 255, 255, 0.5);
    vertical-align: middle; }
    /* line 162, ../sass/style.scss */
    header .social span {
      padding: 1px 5px 0 5px;
      display: inline-block;
      vertical-align: middle;
      color: #333333;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.4rem;
      font-weight: bold; }
    /* line 171, ../sass/style.scss */
    header .social ul, header .social li {
      display: inline; }

/* line 176, ../sass/style.scss */
#globalNav {
  clear: both; }
  /* line 178, ../sass/style.scss */
  #globalNav ul {
    padding: 0 15px;
    height: 70px;
    background: url(../img/gnavBack.png) center center no-repeat;
    overflow: hidden;
    *zoom: 1; }
    /* line 183, ../sass/style.scss */
    #globalNav ul li {
      float: left;
      text-indent: -9999px;
      width: 120px;
      height: 100%;
      overflow: hidden;
      background-image: url(../img/globalNav.png); }
      /* line 190, ../sass/style.scss */
      #globalNav ul li a {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-image: url(../img/globalNav.png); }
    /* line 198, ../sass/style.scss */
    #globalNav ul #nav1 {
      background-position: 0 -210px; }
      /* line 200, ../sass/style.scss */
      #globalNav ul #nav1.current {
        background-position: 0 -140px; }
      /* line 203, ../sass/style.scss */
      #globalNav ul #nav1 a {
        background-position: 0 0; }
        /* line 205, ../sass/style.scss */
        #globalNav ul #nav1 a:hover {
          background-position: 0 -70px; }
        /* line 208, ../sass/style.scss */
        #globalNav ul #nav1 a:active {
          background-position: 0 -140px; }
    /* line 213, ../sass/style.scss */
    #globalNav ul #nav2 {
      background-position: -120px -210px; }
      /* line 215, ../sass/style.scss */
      #globalNav ul #nav2.current {
        background-position: -120px -140px; }
      /* line 218, ../sass/style.scss */
      #globalNav ul #nav2 a {
        background-position: -120px 0; }
        /* line 220, ../sass/style.scss */
        #globalNav ul #nav2 a:hover {
          background-position: -120px -70px; }
        /* line 223, ../sass/style.scss */
        #globalNav ul #nav2 a:active {
          background-position: -120px -140px; }
    /* line 228, ../sass/style.scss */
    #globalNav ul #nav3 {
      margin-right: 250px;
      background-position: -240px -210px; }
      /* line 231, ../sass/style.scss */
      #globalNav ul #nav3.current {
        background-position: -240px -140px; }
      /* line 234, ../sass/style.scss */
      #globalNav ul #nav3 a {
        background-position: -240px 0; }
        /* line 236, ../sass/style.scss */
        #globalNav ul #nav3 a:hover {
          background-position: -240px -70px; }
        /* line 239, ../sass/style.scss */
        #globalNav ul #nav3 a:active {
          background-position: -240px -140px; }
    /* line 244, ../sass/style.scss */
    #globalNav ul #nav4 {
      background-position: -610px -210px; }
      /* line 246, ../sass/style.scss */
      #globalNav ul #nav4.current {
        background-position: -610px -140px; }
      /* line 249, ../sass/style.scss */
      #globalNav ul #nav4 a {
        background-position: -610px 0; }
        /* line 251, ../sass/style.scss */
        #globalNav ul #nav4 a:hover {
          background-position: -610px -70px; }
        /* line 254, ../sass/style.scss */
        #globalNav ul #nav4 a:active {
          background-position: -610px -140px; }
    /* line 259, ../sass/style.scss */
    #globalNav ul #nav5 {
      background-position: -730px -210px; }
      /* line 261, ../sass/style.scss */
      #globalNav ul #nav5.current {
        background-position: -730px -140px; }
      /* line 264, ../sass/style.scss */
      #globalNav ul #nav5 a {
        background-position: -730px 0; }
        /* line 266, ../sass/style.scss */
        #globalNav ul #nav5 a:hover {
          background-position: -730px -70px; }
        /* line 269, ../sass/style.scss */
        #globalNav ul #nav5 a:active {
          background-position: -730px -140px; }
    /* line 274, ../sass/style.scss */
    #globalNav ul #nav6 {
      background-position: -850px -210px; }
      /* line 276, ../sass/style.scss */
      #globalNav ul #nav6.current {
        background-position: -850px -140px; }
      /* line 279, ../sass/style.scss */
      #globalNav ul #nav6 a {
        background-position: -850px 0; }
        /* line 281, ../sass/style.scss */
        #globalNav ul #nav6 a:hover {
          background-position: -850px -70px; }
        /* line 284, ../sass/style.scss */
        #globalNav ul #nav6 a:active {
          background-position: -850px -140px; }

/* line 291, ../sass/style.scss */
#main {
  position: relative; }
  /* line 294, ../sass/style.scss */
  #main .inner > *:last-child {
    margin-bottom: 0; }
  /* line 298, ../sass/style.scss */
  #main .mainVisual {
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black; }
  /* line 302, ../sass/style.scss */
  #main h1.pageTitle {
    margin: -7px 0 25px;
    font-size: 36px;
    font-size: 3.6rem;
    color: #FFF;
    line-height: 1;
    text-shadow: black 0 0 2px, black 0 0 4px; }
  /* line 310, ../sass/style.scss */
  #main .content {
    margin-bottom: 40px;
    float: right;
    width: 720px; }
    /* line 314, ../sass/style.scss */
    #main .content > .box {
      margin-bottom: 20px; }
      /* line 316, ../sass/style.scss */
      #main .content > .box:last-child {
        margin-bottom: 0; }
    /* line 320, ../sass/style.scss */
    #main .content section {
      overflow: hidden;
      *zoom: 1;
      padding: 20px;
      border-bottom: 1px solid #cccccc; }
      /* line 324, ../sass/style.scss */
      #main .content section figure {
        float: left;
        width: 240px; }
        /* line 327, ../sass/style.scss */
        #main .content section figure img {
          width: 100%; }
      /* line 331, ../sass/style.scss */
      #main .content section h3 {
        margin-bottom: 10px;
        padding-left: 5px;
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.4;
        border-left: 2px solid #c12246; }
      /* line 340, ../sass/style.scss */
      #main .content section h4 {
        margin-bottom: 5px;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: bold; }
        /* line 345, ../sass/style.scss */
        #main .content section h4:before {
          content: "\025A0";
          color: #c12246; }
      /* line 350, ../sass/style.scss */
      #main .content section .desc {
        font-size: 14px;
        font-size: 1.4rem; }
        /* line 353, ../sass/style.scss */
        #main .content section .desc.float {
          float: right;
          width: 420px; }
        /* line 357, ../sass/style.scss */
        #main .content section .desc dl {
          margin-bottom: 10px; }
          /* line 359, ../sass/style.scss */
          #main .content section .desc dl dt {
            float: left; }
          /* line 362, ../sass/style.scss */
          #main .content section .desc dl dd {
            padding-left: 5rem; }
  /* line 369, ../sass/style.scss */
  #main #sub {
    margin-bottom: 40px;
    float: left;
    width: 260px; }
    /* line 375, ../sass/style.scss */
    #main #sub .localNav li a {
      padding: 14px 10px 11px;
      display: block;
      text-decoration: none;
      font-size: 16px;
      font-size: 1.6rem;
      border-bottom: 1px solid #cccccc;
      background: url(../img/localNav.png) 240px center no-repeat; }
      /* line 383, ../sass/style.scss */
      #main #sub .localNav li a:hover, #main #sub .localNav li a:active {
        background-color: #ffff99; }
    /* line 387, ../sass/style.scss */
    #main #sub .localNav li:last-child a {
      border-bottom: none; }
    /* line 392, ../sass/style.scss */
    #main #sub.fixed {
      position: fixed;
      top: 20px; }
    /* line 396, ../sass/style.scss */
    #main #sub div.btn {
      margin: 0;
      padding: 10px 0; }

/* line 402, ../sass/style.scss */
.pager {
  padding: 20px;
  text-align: center; }
  /* line 405, ../sass/style.scss */
  .pager li {
    line-height: 1;
    display: inline-block; }
    /* line 408, ../sass/style.scss */
    .pager li a, .pager li span {
      width: 24px;
      padding: 7px 0;
      display: inline-block;
      text-decoration: none;
      border: 1px solid; }
    /* line 415, ../sass/style.scss */
    .pager li .prev, .pager li .next, .pager li .first, .pager li .last {
      padding: 7px 10px;
      width: inherit; }
    /* line 419, ../sass/style.scss */
    .pager li a:link, .pager li a:visited {
      border-color: #cccccc;
      background: #F9F9F9; }
    /* line 423, ../sass/style.scss */
    .pager li a:hover, .pager li a:active {
      border-color: #cc0000; }
    /* line 426, ../sass/style.scss */
    .pager li .current {
      color: #FFF;
      font-weight: bold;
      background: #c12246; }

/* line 433, ../sass/style.scss */
footer {
  clear: both;
  color: #FFF;
  padding: 20px;
  text-align: center;
  background: url(../img/footerBack.png); }
  /* line 33, ../sass/style.scss */
  footer a:link, footer a:visited {
    color: #FFF; }
  /* line 36, ../sass/style.scss */
  footer a:hover, footer a:active {
    color: #cc6666; }

/* line 440, ../sass/style.scss */
.toTop {
  position: fixed;
  right: 20px;
  bottom: 20px; }

/* Index */
/* line 447, ../sass/style.scss */
#topics {
  margin-bottom: 40px;
  float: left;
  width: 680px;
  background: #CCC; }
  /* line 452, ../sass/style.scss */
  #topics .inner {
    margin: 10px;
    background: #FFF;
    height: 420px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  /* line 458, ../sass/style.scss */
  #topics .topicList {
    height: 185px;
    overflow: auto; }
    /* line 461, ../sass/style.scss */
    #topics .topicList dt {
      font-weight: bold; }
    /* line 464, ../sass/style.scss */
    #topics .topicList dd {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #cccccc; }
      /* line 468, ../sass/style.scss */
      #topics .topicList dd:last-child {
        margin-bottom: 0; }

/* line 474, ../sass/style.scss */
ul.shopList {
  overflow: hidden;
  *zoom: 1; }
  /* line 476, ../sass/style.scss */
  ul.shopList > li {
    margin-top: 10px;
    padding: 10px;
    margin-right: 10px;
    vertical-align: top;
    background: #EFEFEF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    float: left;
    width: 130px;
    /*		&:nth-child(4n) {
    			margin-right: 0;
    		}*/ }
    /* line 488, ../sass/style.scss */
    ul.shopList > li .shopName {
      margin-bottom: 5px;
      display: block;
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: bold;
      border-bottom: 1px solid #cccccc; }
    /* line 497, ../sass/style.scss */
    ul.shopList > li > ul > li {
      margin-right: 10px;
      padding-left: 10px;
      display: inline-block;
      background: url(../img/listSmall.png) left center no-repeat; }

/* line 506, ../sass/style.scss */
#twitter {
  margin-bottom: 40px;
  float: right;
  width: 300px; }

/* line 512, ../sass/style.scss */
select.archive {
  width: 100%;
  height: 30px; }

/* Product */
/* line 518, ../sass/style.scss */
.illustrators {
  margin-top: 20px;
  padding: 20px;
  background: #F6F6F6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  /* line 523, ../sass/style.scss */
  .illustrators ul {
    overflow: hidden;
    *zoom: 1; }
    /* line 525, ../sass/style.scss */
    .illustrators ul li {
      margin-right: 10px;
      float: left;
      text-align: left;
      width: 120px;
      list-style-type: square;
      list-style-position: inside; }
      /* line 532, ../sass/style.scss */
      .illustrators ul li:nth-child(5n) {
        margin-right: 0; }
      /* line 535, ../sass/style.scss */
      .illustrators ul li a {
        display: block;
        padding: 2px 0; }
        /* line 538, ../sass/style.scss */
        .illustrators ul li a:hover {
          background-color: #FFC; }

/**/
/* Card */
/* line 549, ../sass/style.scss */
#searchBox dt {
  padding: 10px 10px 7px;
  font-weight: bold;
  background: #F9F9F9;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  /* line 556, ../sass/style.scss */
  #searchBox dt:hover, #searchBox dt:active {
    color: #cc0000;
    background-color: #FF9; }
/* line 561, ../sass/style.scss */
#searchBox dd {
  padding: 9px;
  border-bottom: 1px solid #cccccc; }
  /* line 564, ../sass/style.scss */
  #searchBox dd input[type="text"], #searchBox dd select {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  /* line 567, ../sass/style.scss */
  #searchBox dd input[type="text"] {
    padding: 0 5px;
    width: 228px;
    height: 28px;
    border: 1px solid #cccccc; }
  /* line 573, ../sass/style.scss */
  #searchBox dd select {
    width: 100%;
    height: 30px; }
/* line 578, ../sass/style.scss */
#searchBox input[type="checkbox"].toggle {
  display: none; }
/* line 581, ../sass/style.scss */
#searchBox input[type="checkbox"].plain + label {
  background: url(../img/card/togglePlain.png) no-repeat; }
/* line 582, ../sass/style.scss */
#searchBox input[type="checkbox"].normal + label {
  background: url(../img/card/togglePlain.png) no-repeat; }
/* line 583, ../sass/style.scss */
#searchBox input[type="checkbox"].god + label {
  background: url(../img/card/toggleGod.png) no-repeat; }
/* line 584, ../sass/style.scss */
#searchBox input[type="checkbox"].evil + label {
  background: url(../img/card/toggleEvil.png) no-repeat; }
/* line 585, ../sass/style.scss */
#searchBox input[type="checkbox"].ghost + label {
  background: url(../img/card/toggleGhost.png) no-repeat; }
/* line 586, ../sass/style.scss */
#searchBox input[type="checkbox"].magic + label {
  background: url(../img/card/toggleMagic.png) no-repeat; }
/* line 587, ../sass/style.scss */
#searchBox input[type="checkbox"].card + label {
  background: url(../img/card/toggleCard.png) no-repeat; }
/* line 588, ../sass/style.scss */
#searchBox input[type="checkbox"].score + label {
  background: url(../img/card/toggleScore.png) no-repeat; }
/* line 589, ../sass/style.scss */
#searchBox input[type="checkbox"].toggle + label {
  cursor: pointer;
  background-position: 0 -30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-indent: -9999px; }
/* line 597, ../sass/style.scss */
#searchBox input[type="checkbox"]:checked.toggle + label {
  background-position: 0 0; }

/* line 602, ../sass/style.scss */
#card figure a {
  display: block; }
/* line 603, ../sass/style.scss */
#card .illustrator {
  margin-top: 10px;
  font-size: 10px;
  font-size: 1.0rem; }
/* line 608, ../sass/style.scss */
#card .status {
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  overflow: hidden;
  *zoom: 1; }
  /* line 615, ../sass/style.scss */
  #card .status > div {
    margin-right: 20px;
    float: left; }
    /* line 618, ../sass/style.scss */
    #card .status > div.miniMap {
      font-size: 10px;
      font-size: 1.0rem;
      text-align: center; }
    /* line 623, ../sass/style.scss */
    #card .status > div.rank, #card .status > div.atk, #card .status > div.def {
      margin-top: 10px;
      line-height: 30px; }
    /* line 629, ../sass/style.scss */
    #card .status > div.atk {
      padding-left: 35px;
      background: url(../img/card/iconAtk.png) left center no-repeat; }
    /* line 633, ../sass/style.scss */
    #card .status > div.def {
      padding-left: 35px;
      background: url(../img/card/iconDef.png) left center no-repeat; }
    /* line 637, ../sass/style.scss */
    #card .status > div.type, #card .status > div.cost, #card .status > div.timing {
      margin-top: 12px; }
      /* line 639, ../sass/style.scss */
      #card .status > div.type img, #card .status > div.cost img, #card .status > div.timing img {
        max-height: 24px;
        vertical-align: middle; }
      /* line 643, ../sass/style.scss */
      #card .status > div.type .spellCost, #card .status > div.cost .spellCost, #card .status > div.timing .spellCost {
        display: inline-block;
        position: relative; }
        /* line 646, ../sass/style.scss */
        #card .status > div.type .spellCost:after, #card .status > div.cost .spellCost:after, #card .status > div.timing .spellCost:after {
          position: absolute;
          left: 0;
          top: 0;
          content: url(../img/card/costFrame24.png); }
/* line 656, ../sass/style.scss */
#card .cardDetail {
  width: 100%;
  border: 1px solid #cccccc; }
  /* line 659, ../sass/style.scss */
  #card .cardDetail th, #card .cardDetail td {
    padding: 5px;
    border: 1px solid #cccccc; }
  /* line 663, ../sass/style.scss */
  #card .cardDetail th {
    font-weight: bold;
    background: #F9F9F9; }
  /* line 668, ../sass/style.scss */
  #card .cardDetail td .status {
    margin-bottom: 5px; }
  /* line 674, ../sass/style.scss */
  #card .cardDetail td p img {
    max-height: 20px; }
/* line 680, ../sass/style.scss */
#card .cardList {
  width: 100%;
  border: 1px solid #cccccc; }
  /* line 683, ../sass/style.scss */
  #card .cardList img {
    max-height: 20px; }
  /* line 686, ../sass/style.scss */
  #card .cardList th, #card .cardList td {
    padding: 5px;
    border-bottom: 1px solid #cccccc; }
    /* line 689, ../sass/style.scss */
    #card .cardList th.rank, #card .cardList th.element, #card .cardList th.atk, #card .cardList th.def, #card .cardList th.type, #card .cardList td.rank, #card .cardList td.element, #card .cardList td.atk, #card .cardList td.def, #card .cardList td.type {
      text-align: center; }
  /* line 691, ../sass/style.scss */
  #card .cardList th {
    font-weight: bold;
    background: #F9F9F9; }

/**/
/* Rule */
/* line 701, ../sass/style.scss */
div.errata {
  float: left; }

/* line 705, ../sass/style.scss */
div.q_and_a {
  float: left; }

/* line 709, ../sass/style.scss */
div.openable h4:hover {
  cursor: pointer; }

/* line 712, ../sass/style.scss */
div.q_and_a dt {
  margin-left: 8px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  width: 24px; }

/* line 721, ../sass/style.scss */
dt.question {
  background-color: #FF0000; }

/* line 724, ../sass/style.scss */
dd.question {
  font-weight: bold; }

/* line 727, ../sass/style.scss */
dt.answer {
  background-color: #0000FF; }

/* line 733, ../sass/style.scss */
img.errata_detail {
  width: 20px;
  height: 20px; }

/**/
